body {
    font-family: 'Poppins', sans-serif; 
}
.navigation {
    margin: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

li {
    margin-right: 40px;
    font-size: 20px;
}

section {
    width: 1600px;
    margin: 100px;
  }
  
  h1 {
      font-size: 35px;
  }
  .grid-container{
    width: auto;
    margin: 0px;
    display: grid;
    grid-template-areas:
      "project-1 project-2"
      "description-1 description-2"
      "project-3 project-4"
      "description-3 description-4";
    grid-template-rows: 1fr .2fr 1fr .2fr;
    grid-template columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    align-content: center;
    grid-row-gap: 10px;
    grid-colum-gap: 20px;
  }
  
  .grid-item {
    background-color: transparent;
    padding: 10px;
  }
  
  .item-1 {
    grid-area: project-1;
  }
  
  .item-2 {
    grid-area: project-2;
    
  }
  
  .item-3 {
    grid-area: description-1;
    
  }
  
  .item-4 {
    grid-area: description-2;
  }
  
  .item-5 {
    grid-area: project-3;
  }
  
  .item-6 {
    grid-area: project-4;
  }
  
  .item-7 {
    grid-area: description-3;
  }
  
  .item-8 {
    grid-area: description-4;
  }

  .description {
      text-align: center;

h3 {
    font-weight: bold;
}

  }
  .chat-section {
      height: 150px;
      align-items: center;
      text-align: center;
  }
  .chat-button {
      background-color: black;
      color: white;
      border-radius: 50px;
      padding: 10px;
      font-size:25px;
      font-family: 'Poppins', sans-serif; 
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
  }

  footer {
      display: flex;
      justify-content: space-between;
  }

  .left {
      justify-content: flex-start;
  }
  .right {
    justify-content: flex-end;
}

@media all and (max-width: 500px) {
    .grid-container {
        grid-template-rows: 1fr .2fr 1fr .2fr;
        grid-template columns: 1fr;
        grid-row-gap: 10px;
        grid-colum-gap: 20px;
        grid-template-areas:
        "project-1"
        "description-2"
        "project-2"
        "description-2"
        "project-3"
        "description-3"
        "project-4"
        "description-4";
    }
}